In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import joblib
import pickle

In [2]:
print("scikit-learn:", sklearn.__version__)
print("numpy:", np.__version__)
print("pandas:", pd.__version__)
print("joblib:", joblib.__version__)

scikit-learn: 1.5.1
numpy: 1.26.4
pandas: 2.2.2
joblib: 1.4.2

In [3]:
data = pd.read_csv('preprocessed_dataset.csv')
data

,Unnamed: 0.1,Unnamed: 0,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,calculated_age,bmi
0,0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.357290,21.967120
1,1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.381246,34.927679
2,2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51.627652,23.507805
3,3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.249144,28.710479
4,4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47.841205,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69971,69971,69995,19240,2,168,76.0,120,80,1,1,1,0,1,0,52.676249,26.927438
69972,69972,69996,22601,1,158,126.0,140,90,2,2,0,0,1,1,61.878166,50.472681
69973,69973,69997,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.199863,31.353579
69974,69974,69998,22431,1,163,72.0,135,80,1,2,0,0,0,1,61.412731,27.099251
69975,69975,69999,20540,1,170,72.0,120,80,2,1,0,0,1,0,56.235455,24.913495

In [4]:
data = data.drop(["Unnamed: 0.1","Unnamed: 0","age"],axis=1)
data

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,calculated_age,bmi
0,2,168,62.0,110,80,1,1,0,0,1,0,50.357290,21.967120
1,1,156,85.0,140,90,3,1,0,0,1,1,55.381246,34.927679
2,1,165,64.0,130,70,3,1,0,0,0,1,51.627652,23.507805
3,2,169,82.0,150,100,1,1,0,0,1,1,48.249144,28.710479
4,1,156,56.0,100,60,1,1,0,0,0,0,47.841205,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69971,2,168,76.0,120,80,1,1,1,0,1,0,52.676249,26.927438
69972,1,158,126.0,140,90,2,2,0,0,1,1,61.878166,50.472681
69973,2,183,105.0,180,90,3,1,0,1,0,1,52.199863,31.353579
69974,1,163,72.0,135,80,1,2,0,0,0,1,61.412731,27.099251
69975,1,170,72.0,120,80,2,1,0,0,1,0,56.235455,24.913495

In [5]:
# x = data.drop(['cat__cardio_0','cat__cardio_1','num__age','Unnamed: 0'],axis=1)
# y = data['cat__cardio_1']

X = data.drop("cardio", axis=1)
y = data["cardio"]

In [6]:
data

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,calculated_age,bmi
0,2,168,62.0,110,80,1,1,0,0,1,0,50.357290,21.967120
1,1,156,85.0,140,90,3,1,0,0,1,1,55.381246,34.927679
2,1,165,64.0,130,70,3,1,0,0,0,1,51.627652,23.507805
3,2,169,82.0,150,100,1,1,0,0,1,1,48.249144,28.710479
4,1,156,56.0,100,60,1,1,0,0,0,0,47.841205,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69971,2,168,76.0,120,80,1,1,1,0,1,0,52.676249,26.927438
69972,1,158,126.0,140,90,2,2,0,0,1,1,61.878166,50.472681
69973,2,183,105.0,180,90,3,1,0,1,0,1,52.199863,31.353579
69974,1,163,72.0,135,80,1,2,0,0,0,1,61.412731,27.099251
69975,1,170,72.0,120,80,2,1,0,0,1,0,56.235455,24.913495

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:

def check_fit(model, X_train, y_train, X_test, y_test, name):
    model.fit(X_train, y_train)

    train_pred = model.predict(X_train)
    test_pred = model.predict(X_test)

    train_acc = accuracy_score(y_train, train_pred)
    test_acc = accuracy_score(y_test, test_pred)

    print(f"\n{name}")
    print("Train Accuracy:", train_acc)
    print("Test Accuracy :", test_acc)

    if train_acc < 0.7 and test_acc < 0.7:
        print("⚠️ Underfitting")
    elif train_acc - test_acc > 0.1:
        print("⚠️ Overfitting")
    else:
        print("✅ Good Fit")

In [13]:
# KNeighborsClassifier

from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=7)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred)

print("KNN Accuracy:", acc)

check_fit(model, X_train, y_train, X_test, y_test, "KNN")
# joblib.dump(model, "knn_model.pkl")

KNN Accuracy: 0.693126607602172

KNN
Train Accuracy: 0.761664880314398
Test Accuracy : 0.693126607602172
✅ Good Fit

In [14]:
# SVC

from sklearn.svm import SVC

model = SVC(kernel="rbf")
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred)

print("SVM Accuracy:", acc)

# joblib.dump(model, "svm_model.pkl")

check_fit(model, X_train, y_train, X_test, y_test, "SVM")

SVM Accuracy: 0.6088882537867962

SVM
Train Accuracy: 0.6025902107895676
Test Accuracy : 0.6088882537867962
⚠️ Underfitting

In [15]:
# RandomForestClassifier

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(
    n_estimators=200,
    random_state=42
)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred)

print("Random Forest Accuracy:", acc)

# joblib.dump(model, "random_forest_model.pkl")

check_fit(model, X_train, y_train, X_test, y_test, "Random Forest")

Random Forest Accuracy: 0.7180623035152901

Random Forest
Train Accuracy: 0.9997320471596999
Test Accuracy : 0.7180623035152901
⚠️ Overfitting

In [9]:
# GradientBoostingClassifier

from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred)

print("Gradient Boosting Accuracy:", acc)

joblib.dump(model, "gradient_boosting_model.pkl")
check_fit(model, X_train, y_train, X_test, y_test, "Gradient Boosting")

with open('model.pkl','wb') as file:
    pickle.dump(model,file)

with open('model.pkl','rb') as file:
    loaded_model = pickle.load(file)

Gradient Boosting Accuracy: 0.7345670191483281

Gradient Boosting
Train Accuracy: 0.7402286530903894
Test Accuracy : 0.7345670191483281
✅ Good Fit

In [7]:
# import numpy as np

# # Stable sigmoid function
# def sigmoid(z):
#     # Prevent overflow
#     return np.where(z >= 0,
#                     1 / (1 + np.exp(-z)),
#                     np.exp(z) / (1 + np.exp(z)))

# # Logistic Regression training
# def logistic_regression(X, y, learning_rate=0.1, epochs=20000):
#     # Scale input features for numerical stability
#     X = (X - np.mean(X, axis=0)) / (np.std(X, axis=0) + 1e-8)
    
#     m, n = X.shape
#     weights = np.zeros(n)
#     bias = 0

#     for i in range(epochs):
#         z = np.dot(X, weights) + bias
#         prediction = sigmoid(z)

#         # Optional: decreasing learning rate
#         lr = learning_rate / np.sqrt(i + 1)

#         dw = (1/m) * np.dot(X.T, (prediction - y))
#         db = (1/m) * np.sum(prediction - y)

#         weights -= lr * dw
#         bias -= lr * db

#         # Optional: print loss every 2000 epochs
#         if i % 2000 == 0:
#             loss = -np.mean(y * np.log(prediction + 1e-8) + (1 - y) * np.log(1 - prediction + 1e-8))
#             print(f"Epoch {i}, Loss: {loss:.4f}")

#     return weights, bias

# # Prediction function
# def predict(X, weights, bias):
#     # Scale input features the same way as training
#     X = (X - np.mean(X, axis=0)) / (np.std(X, axis=0) + 1e-8) 
#     y_pred = sigmoid(np.dot(X, weights) + bias)
#     return (y_pred >= 0.5).astype(int)

# # Accuracy function
# def accuracy(y_true, y_pred):
#     return np.sum(y_true == y_pred) / len(y_true)

In [9]:
# # train the model

# weights, bias = logistic_regression(x_train, y_train)

In [10]:
# # prediction 

# y_pred = predict(x_test,weights,bias)

In [11]:
# # from sklearn.metrics import accuracy_score
# acc = accuracy(y_test, y_pred)
# print('Accuracy : ',acc)

In [ ]:
# import joblib 
# from sklearn.linear_model import LogisticRegression 
# from sklearn.preprocessing import StandardScaler

# X and y already exist in this notebook 
# X = df.drop("cat__cardio_1", axis=1) 
# y = df["cat__cardio_1"] 

# scaler = StandardScaler() 
# X_scaled = scaler.fit_transform(x) 

# model = LogisticRegression(max_iter=1000) 
# model.fit(X_scaled, y) 

# SAVE EVERYTHING TOGETHER (VERY IMPORTANT) 
# joblib.dump( 
# { "model": model, 
    #"scaler": scaler, 
    # "features": x.columns.tolist() 
# }, 
# "cardio_bundle.pkl" 
# ) 
# print("✅ Model, scaler, and features saved as cardio_bundle.pkl")

In [ ]:
# import joblib
# joblib.dump(model, "model.pkl")
# joblib.dump(scaler, "scaler.pkl")